@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Inter:wght@400;700&family=Lora:ital,wght@0,700;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
}

.play:hover .path {
  fill: white;
}

.play:hover circle {
  opacity: 1;
}

li::marker {
  color: #8f19e8;
}

li {
  list-style: disc;
  margin-left: 15px;
}

@media (min-width:768px) {
  li{
      margin-left: 37px;
  }
}